:root{
  --base-color: #282c34;
  --base-variant: #23252a;
  --text-color: white;
  --secondary-text: #232738;
  --primary-color: #3a435d;
  --accent-color: #61dafb;
  --boarder-color: #fc8181;
}
.darkmode{
  --base-color: white;
  --base-variant: rgba(255, 255, 255, 0.807);
  --text-color: black;
  --secondary-text: #232738;
  --primary-color: #3a435d;
  --accent-color: #61dafb;
  --boarder-color: #fc8181;
}

#theme-switch{
  height: 50px;
  width:50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--base-variant);
  display: flex;
  justify-content: center;
  align-items: center;
}
#theme-switch svg{
  fill: var(--primary-color);
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--base-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: var(--accent-color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input.input-error, 
select,input-error {
  border-color: var(--boarder-color);
}

button.disabled{
  opacity: 0.35;
}